h1 {
  margin: 0;
}

.big-heading {
  font-family: Verdana;
}

.section-heading {
  /* Add your own font here */
}

.nav__list {
  list-style-type: none;
}

.nav__list_item {

}

.page {
  background-color: rgb(31, 31, 223);

}

.page__header {
  background-color: aqua;

}
.page__content {
  background-color: beige;

}

.left-content {
  background-color: burlywood;

}

.right-content {
  background-color: burlywood;
}

.main-content {
  background-color: rgb(31, 31, 223);

}

.main-content__section {
  background-color: rgb(25, 25, 168);
  color: white;

}